*{
    margin: 1;
    padding: 0;
    background-color: rgb(179, 179, 179);
    
}

nav {

display: flex;
   align-items: center;
    flex-direction: row;
    justify-content: flex-start;
   justify-content: space-evenly;
  

}


.logostyle{
    background-color: aqua;
    width: 100px;;
    height:70px;
  
}

.logouser{
    background-color: aqua;
    width: 100px;;
    height:70px;
}

.logocarrinho{
    background-color: aqua;
    width: 100px;;
    height:70px;
}

.botaobuscar {

    border-radius: 15px;
    width: 250px;
    height: 60px;
    font-size: 17px;
    margin: 10px;
    background-color: #706e6d;
    color: #ffff;
    border: none;

}